<!DOCTYPE html>
<html>
<head>
<title>MainWindow</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="static/css/style.css" rel="stylesheet">
    <script src="static/js/jquery-1.9.0.js"></script>
    <script src="static/js/myscript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<script>
    $(function() {
        $(document.getElementById("read back low")).click(function() {
            $.ajax({
                url: '/low',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $(document.getElementById("read back high")).click(function() {
            $.ajax({
                url: '/high',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $(document.getElementById("SetTemp")).click(function() {
            $.ajax({
                url: '/temp',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $(document.getElementById("SetPing")).click(function() {
            $.ajax({
                url: '/ping',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $(document.getElementById("Break")).click(function() {
            $.ajax({
                url: '/break',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $(document.getElementById("IV scan")).click(function() {
            $.ajax({
                url: '/IVscan',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $(document.getElementById("Sensor")).click(function() {
            $.ajax({
                url: '/sensor',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $(document.getElementById("Run Confirmation Test")).click(function() {
            $.ajax({
                url: '/confirmtest',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $(document.getElementById("Set Interlock")).click(function() {
            $.ajax({
                url: '/interlock',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>
<body>
    <form id = "myform" method="post" role="form">
        <div class="grid-container">
            <div class="grid-item">
                Low Voltage<br>
                    <input type = "radio" name="low" value="on"> On<br>
                    <input type = "radio" name="low" value="off"> Off<br>
                    <button type = "button" id = "read back low">Read Back</button><br>
                    <input type="text" id="member" value="1" onkeydown = "addFields1()"> Channel <br />
                        <div id="container"></div>
            </div>
            <div class="grid-item">
                    High Voltage<br>
                    <input type = "radio" name="high" value="on"> On<br>
                    <input type = "radio" name="high" value="off"> Off<br>
                    <button type = "button" id = "read back high">Read Back</button><br>
                    <button type = "button" id = "IV scan">Run IV Scan</button><br>
                    <input type="text" id="member2" value="1" onkeydown = "addFields2()"> Channel <br />
                        <div id="container2"></div>
            </div>
            <div class="grid-item">
                Chiller<br>
                <input type="text" name = "temperature" value=""> <br>
                <button type="button" id="SetTemp">Set Temperature</button>
            </div>
            <div class="grid-item">
                    <input type = "text" name = "IP" value = "">
                    <button type="button" id = "SetPing">Set Ping</button><br>
                    <button type = "button" id = "Break">Break</button><br>
                    Sensor Data: <br/>
                    <input type = "radio" name = "sensor" value="on"> On<br>
                    <input type = "radio" name = "sensor" value="off"> Off<br>
                    <button type = "button" id = "Sensor">Read Back</button><br>
            </div>
            <div class="grid-item">
                ITSDAQ<br>
                Temperature for Test<br>
                <input type="text" name = "test" value = ""><br/>
                <button type = "button" id = "Run Confirmation Test">Run Confirmation Test</button><br>
                Status<br>
            </div>
            <div class="grid-item">
                    Interlock Settings<br>
                    SHT Temp Limits<br/>
                    <input type="text" name = "temp before" value = ""> to <input type="text" name = "temp after" value = ""><br/>
                    SHT Humidity Limits<br/>
                    <input type="text" name = "humidity before" value = ""> to <input type="text" name = "humidity after" value = ""><br/>
                    Hybrid NTC Limits<br>
                    <input type="text" name = "hybrid before" value = ""> to <input type="text" name = "hybrid after" value = ""><br/>
                    User NTC Limits<br>
                    <input type="text" name = "user before" value = ""> to <input type="text" name = "user after" value = ""><br/>
                    <button type = "button" id = "Set Interlock">Set Interlock</button><br>
            </div>
        </div>
    </form>
</body>
</html>