<!DOCTYPE html>
<html>
<head>
<title>MainWindow</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link type="text/css" rel="stylesheet" href="static/css/style.css">
    <script src="static/js/jquery-1.9.0.js"></script>
    <script src="static/js/myscript.js"></script>
    <script src="static/js/response.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <form id = "myform" method="post" role="form">
        <div class="grid-container">
            <div class="grid-item">
                Low Voltage<br>
                Power:
                <input type="hidden" name = "power" value="Off" id = "lowpower">
                <input type="button" name = "power" value="Off" id="onoff" onclick="onOff('onoff','lowpower')"><br/>
               <!-- <input type = "radio" name="low" value="on"> On<br>
                <input type = "radio" name="low" value="off"> Off<br>
                <button type = "button" id = "voltage low">Read Back</button><br>-->
                <input type="number" id="member" value="1" onkeydown = "addFields1()" min = "1" max = "5"> Channel(s) <br />
                    Channel 1
                    <input type="number" id = "low" name = "channel1" value="0" min = "-100" max = "100" step = "0.01">
                    <button type="button" id = "channel 1" onclick="verify('low')">Set Voltage</button><br/>
                    <div id="container"></div>
            </div>
            <div class="grid-item">
                High Voltage<br>
                Power:
                <input type="hidden" name = "power2" value="Off" id = "highpower">
                <input type="button" name = "power2" value="Off" id="onoff2" onclick="onOff('onoff2','highpower')"><br/>
                <!--<input type = "radio" name="high" value="on"> On<br>
                <input type = "radio" name="high" value="off"> Off<br>
                <button type = "button" id = "voltage high">Read Back</button><br>-->
                <button type = "button" id = "IV scan">Run IV Scan</button><br>
                <input type="number" id="member2" value="1" onkeydown = "addFields2()" min = "1" max = "5"> Channel(s) <br />
                    Channel 1
                    <input type="number" id = "high" name = "channel6" value="0" min = "-10000" max = "10000" step = "0.01">
                    <button type="button" id = "channel 6" onclick="verify('high')">Set Voltage</button><br/>
                    <div id="container2"></div>
            </div>
            <div class="grid-item">
                Chiller<br>
                <input type="number" name = "temperature" value=""> <br>
                <button type="button" id="SetTemp">Set Temperature</button><br>
                <span id="myspan"> hereismytext </span>
            </div>
            <div class="grid-item">
                Address<br/>
                <input type = "text" class = "address" name = "IP" value = "">
                <button type="button" id = "SetPing">Ping</button><br>
                <button type = "button" id = "Break">Break</button><br>
                Sensor:
                <input type="hidden" name = "power3" value="Off" id = "sensor">
                <input type="button" name = "power3" value="Off" id="onoff3" onclick="onOff('onoff3','sensor')"><br/>
                <!--<input type = "radio" name = "sensor" value="on"> On<br>
                <input type = "radio" name = "sensor" value="off"> Off<br>
                <button type = "button" id = "Sensor">Read Back</button><br>-->
            </div>
            <div class="grid-item">
                ITSDAQ<br>
                Temperature for Test<br>
                <input type="number" name = "test" value = ""><br/>
                <button type = "button" id = "Run Confirmation Test">Run Confirmation Test</button><br>
                Status<br>
            </div>
            <div class="grid-item">
                Interlock Settings<br>
                SHT Temp Limits<br/>
                <input type="number" name = "temp before" value = ""> to <input type="number" name = "temp after" value = ""><br/>
                SHT Humidity Limits<br/>
                <input type="number" name = "humidity before" value = ""> to <input type="number" name = "humidity after" value = ""><br/>
                Hybrid NTC Limits<br>
                <input type="number" name = "hybrid before" value = ""> to <input type="number" name = "hybrid after" value = ""><br/>
                User NTC Limits<br>
                <input type="number" name = "user before" value = ""> to <input type="number" name = "user after" value = ""><br/>
                <button type = "button" id = "Set Interlock">Set Interlock</button><br>
            </div>
        </div>
    </form>
</body>
</html>